@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;


@font-face {
  font-family: 'Zilla Slab';
  font-weight: 400;
  src: url(../fonts/zilla-slab/ZillaSlab-Regular.otf) format('opentype');
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 400;
  font-style:italic;
  src: url('../fonts/zilla-slab/ZillaSlab-RegularItalic.otf') format('opentype');
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 500;
  src: url("../fonts/zilla-slab/ZillaSlab-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 600;
  src: url("../fonts/zilla-slab/ZillaSlab-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 700;
  src: url("../fonts/zilla-slab/ZillaSlab-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 700;
  font-style:italic;
  src: url("../fonts/zilla-slab/ZillaSlab-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 400;
  src: url("../fonts/libre-franklin/librefranklin-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Franklin";
  font-weight: 400;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 500;
  src: url("../fonts/libre-franklin/librefranklin-medium.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 500;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-mediumitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 600;
  src: url("../fonts/libre-franklin/librefranklin-semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 600;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-semibolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 700;
  src: url("../fonts/libre-franklin/librefranklin-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 700;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-bolditalic.ttf") format("truetype");
}
@import url("customwebfonts.css"); /* Using a url */
@tailwind components;

@tailwind utilities;
a{ @apply text-blue-900 font-semibold border-b-2 border-orange-400;}
hr {border-width:0;}

th{
  @apply bg-gray-100 text-gray-700 font-bold py-2  text-left;
}
.text-tiny {
	font-size:12px;
	line-height:16px;
	@apply font-body;
}
.text-small{
	font-size:14px;
	line-height:24px;
	@apply font-body;
}
.text-normal{
	font-size:14px;
	line-height:24px;
	@apply font-body;
}
.text-large{
	font-size:18px;
	line-height:32px;
	@apply font-body;
}
.heading-xs{
	font-size:21px;
	line-height:32px;
	font-weight:300;
	@apply font-display;
}
.heading-s{
	font-size:24px;
	line-height:40px;
	font-weight:400;
	@apply font-display;
}
.heading{
	font-size:28px;
	line-height:48px;
	font-weight:500;
	@apply font-display;
}
.heading-m{
	font-size:32px;
	line-height:56px;
	font-weight:600;
	@apply font-display;
}
.heading-l{
	font-size:36px;
	line-height:64px;
	font-weight:700;
	@apply font-display;
}
article .heading-l{
  line-height:48px;
}
.heading-l.leading-tight{
	font-size:36px;
	line-height:1.15;

}
.heading-xl{
	font-size:48px;
	line-height:72px;
	font-weight:800;
	@apply font-display;
}
.heading-d{
	font-size:60px;
	line-height:80px;
	font-weight:500;
	@apply font-display;
}
.heading-dxl{
	font-size:72px;
	line-height:96px;
	font-weight:300;
	@apply font-display;
}
button{
	 @apply font-bold py-2 px-4 rounded bg-blue-500 text-white;
}
button:hover{
	@apply bg-blue-800;
}
button.btn-lg{
	@apply py-4 px-10 text-large;
}
.error-msg{
	@apply text-red-500 text-xs italic
}
label{
	@apply font-bold;
}
input[type='text'], textarea {
	@apply shadow bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}
input[type='text']:focus, textarea:focus{
	@apply outline-none shadow-outline;
}
input[type='checkbox']{
	@apply text-blue-800 bg-red-800;
}
input.error {
	@apply shadow appearance-none border border-red-500 bg-red-100 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight;
}
select{
	@apply block appearance-none w-full   border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight;
}
select:focus{
 @apply   outline-none shadow-outline bg-white border-blue-700;
}
select.error {
	@apply shadow appearance-none border border-red-500 bg-red-100 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight;
}
::selection {
  background: #F7C5A4; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #F7C5A4; /* Gecko Browsers */
}
figcaption {
	@apply text-small italic text-gray-700 p-2;
}
blockquote {
	@apply text-2xl border-l-8 border-blue-200 text-gray-700 p-6 my-6 ;
}
blockquote p{
  max-width:none;
  font-size:1.5rem;
  line-height:1.8rem;
  
}
blockquote footer{
	@apply text-small italic text-gray-500  mt-4 mb-2;
}
blockquote footer a{
 @apply not-italic;
}
p {@apply ml-auto mr-auto text-large;}
p.left { @apply ml-0;}
p.short{max-width:39px; min-width:35px;}
p.compliant{max-width:50px; min-width:40px;}
p.optimal{max-width:90px; min-width:51px;}
p.toobig{ min-width:91px;}
.read {@apply ml-auto mr-auto;}
.read p {
 @apply  max-w-2xl mr-auto ml-auto my-4 text-large;
}
.read h1 {@apply heading-dxl text-orange-600}
.read h2 {@apply  text-3xl heading-l text-blue-500 my-8;}
.read.home h2 {@apply text-2xl  text-orange-500;}
.read h3 {@apply heading-m text-gray-700 my-8;}
.read h4 {@apply heading-s text-gray-700  my-8;}
.read h5 {@apply heading-xs text-gray-700  my-8;}
.read figure { @apply ml-auto mr-auto my-8;}
.read ul {
   @apply  max-w-xl mr-auto ml-auto my-4 text-large leading-snug list-disc ;
   max-width:620px;
}
.read ol {
   @apply  max-w-xl mr-auto ml-auto my-4 text-large leading-snug list-decimal ;
   max-width:620px;
}
.read ul li, .read ol li../../../../../../../Desktop/petroglyphcreative.slack.com:.webloc{
    @apply m-2 text-large;
    }
.read blockquote {
    max-width:920px;
    @apply mr-auto ml-auto
}
.read blockquote p{
  max-width:none;
  
@apply mb-8 mt-0;
}
blockquote.twitter-tweet, .read blockquote.twitter-tweet{
    @apply border-l-0 border-b-2 border-blue-200  text-small rounded-t-lg;
    background: url(../img/tw-logo-white.svg) center left;
    background-size:contain;
    background-repeat: no-repeat;
    padding-left: 20%;
    @apply bg-blue-100;
}
blockquote.twitter-tweet p, .read blockquote.twitter-tweet p{
    @apply text-xl text-blue-900;
    }
.card {
	@apply rounded overflow-hidden shadow-lg;
}
.card img {
	@apply w-full;
}
.card a.image { @apply border-0; }
.card h3,  .card h4 {
	@apply text-orange-600 font-display text-2xl font-semibold leading-10;
}
.card p{
	@apply text-gray-900 my-2;
}
a .card {
    @apply text-gray-800 text-large font-normal;
}
a .card h2{
    @apply font-display text-3xl text-orange-600 font-semibold;
}
a .card  p{
	@apply font-normal ;
}
a .card  p.date{
	@apply  font-semibold;
}
.card.dark{
	@apply text-white bg-gray-800;
}
.card.dark p{
	@apply text-white;
}
 .card.dark h3, .card.dark h4 {
	@apply text-orange-500;
}
.postcard {@apply border-2 border-gray-200 shadow-lg;}
.postcard::after {
    content: ""; 
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
                        
}
.back {
    position:absolute; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.back a h4, .back a h2 {
     @apply font-normal ;
}
.back a p {
    @apply font-normal text-gray-900;
}
#contact label, .contact label {font-size:28px;}

header.top{

}
header.top h2.aquarian-logo{
  background:url(/assets/images/logo-process_Aquarian_v07_color.png) center center no-repeat;
  width: 287px;
  height:117px;
  background-size: 287px 117px;
  text-indent:-999px;


}
header .menu{
	/* display:none; */
}
header .menu a{

	@apply font-medium text-large block px-3 py-2 inline-block mt-0  text-gray-700 border-white  mr-4 border-b-4 text-center;
	display:block;
}
header .menu a:hover, header .menu a:active{
	@apply bg-orange-100;
}
.menu-toggle {
  display: inline-block;
  cursor: pointer;
  float:right;
  max-width: 54px;
  @apply border rounded px-2 py-1;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  margin: 6px 0;
  transition: 0.4s;
  @apply bg-gray-700 ;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
footer p {
	max-width: 1024px;
}

.petroglyph{
	@apply font-display text-3xl  text-blue-500 font-semibold;
	}
.petroglyph .creative{
	@apply  text-orange-500 font-light;
	}
@media (max-width: 639px) {
  .jumbotron .section{
    height:35vh;
  }
  .jumbotron .heading-dxl {
    /* font-size:80%; */
    font-size:2.5rem;
    line-height:3.5rem;
    @apply text-center;

  }
  .petroglyph{
  	@apply text-3xl;
  }
  .read {@apply px-2;}
  .read h2 {@apply text-2xl leading-relaxed;}
  .read ul {max-width:320px;}
}
@media (min-width: 640px) {
	header .menu{
		/* display:block; */
	}

  	header .menu a{
	  /* display:inline; */

	  }
	header .menu a.button{
	@apply font-body text-normal font-semibold  border-2 border-orange-500  text-sm  border rounded text-blue-700 ;

	}
	header .menu a.button:hover{
		@apply bg-orange-100 text-blue-900 bg-orange-100;
	}
	header .menu a:hover {
		 @apply text-blue-600 border-orange-500 bg-white ;
	}

  .jumbotron .section{
    height:45vh;
  }
  .read h2 {@apply text-4xl leading-relaxed;}
}
@media screen and (min-width: 768px){
.menu-toggle{
  display:none;
}
header .menu a {
  font-size:16px;
 }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .jumbotron .section{
    height:55vh;
  }
  .jumbotron .heading-dxl {
    /* font-size:80%; */
    font-size:3.8rem;
    line-height:5rem;
    @apply text-center;

  }
  header .menu a:first-child{
    padding-left:0;
  }
    /* .read h2 {@apply text-2xl leading-relaxed;} */
}
@media screen and (min-width: 1024px) {
  .jumbotron .section{
    height:65vh;
  }
 header .menu a {
  font-size:16px;
 }
 .read h1, .read h2, .read h3, .read h4, .read h5, .read h6 .read blockquote{@apply ml-auto mr-auto max-w-3xl;}
}
@media screen and (min-width: 1524px) {
  .jumbotron .section{
    height:75vh;
  }
  header .menu a {
    font-size:18px;
   }
  .xxl\:flex-row { flex-direction: row; }
}
@media screen and (min-width: 1724px) {
  .jumbotron .section{
    height:85vh;
  }
}
@media (min-width:1840px){

}
@media (min-width:2040px){
  .jumbotron .section{
    height:95vh;
  }
}
