
<div class="flex flex-col w-full justify-center items-center color-change-3x">
    <div class="flex flex-col md:flex-row md:flex-wrap xl:flex-nowrap  border-b-4 border-gray-100">
        <!-- Header Components --> 
        <div class="w-full md:w-1/2 xl:w-1/4 flex flex-col  justify-start xl:justify-center px-2">
            <h1 class=" heading-m font-display text-red-700 font-bold mb-8 mt-8">Page Navigational header</h1>                 
            <nav aria-label="Page Topics">
                <ol class="jump-nav">
                                                
                            <li class="flex flex-row my-4">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"></path>
                                </svg>
                            <a href="#whyCraftCMS?">Why Craft CMS?</a></li>
                    
                                                
                            <li class="flex flex-row my-4">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"></path>
                                </svg>
                            <a href="#forwardThinkingSoftwareDesign">Forward-thinking software design</a></li>
                    
                                                
                            <li class="flex flex-row my-4">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"></path>
                                </svg>
                            <a href="#authorshipSupport">Authorship support</a></li>
                    
                                                
                            <li class="flex flex-row my-4">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"></path>
                                </svg>
                            <a href="#communityStewardship">Community Stewardship</a></li>
                    
                                                
                            <li class="flex flex-row my-4">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"></path>
                                </svg>
                            <a href="#theFinestFoundation">The finest foundation</a></li>
                    
                </ol>
            </nav>
            <h2 class=" heading-s font-display text-blue-700 font-bold mb-4 mt-8">Part of: <a href="https://www.aquarianwebdesign.com/web-design-process">Our Process</a></h2>
            <ol class=" segment-nav">
                                            <li class="flex flex-row my-4">
                        
                        <a href="https://www.aquarianwebdesign.com/web-design-process#step1:StabilizeAndSecure" class="">Step 1: Stabilize and Secure</a>
                        </li>
                                            <li class="flex flex-row my-4">
                        
                        <a href="https://www.aquarianwebdesign.com/web-design-process#step2:EnhanceAndStudy" class="">Step 2: Enhance and Study</a>
                        </li>
                                            <li class="flex flex-row my-4">
                        
                        <a href="https://www.aquarianwebdesign.com/web-design-process#step3:Scale" class="">Step 3: Scale</a>
                        </li>
                                            <li class="flex flex-row my-4">
                        
                        <a href="https://www.aquarianwebdesign.com/web-design-process#nicheServices" class="">Niche Services</a>
                        </li>
            </ol>
    
        </div>        <!-- Form Container --> 
        <div class="greet-form flex max-w-2xl w-full md:w-1/2 xl:w-1/4 lg:ml-auto lg:mr-auto xl:mx-0 mb-4 lg:mb-8 items-center justify-center px-2 xl:order-3">
            <div class="fui-i">
                <form id="fui-canWeTakeALook-xvgqrx" class="fui-form fui-labels-above-input fui-validate-on-focus" method="post" enctype="multipart/form-data" accept-charset="utf-8"  data-form-submit-method="ajax" data-form-submit-action="message" data-loading-indicator="spinner" novalidate="true">
                    <input type="hidden" name="CRAFT_CSRF_TOKEN" value="jMim37D7nga-megIhuUBb7xJF564sz91Gg9rj38r4J5muDJAP2_IVeaK6pODs6xEy8yLP8WOaTWRDGXT3OdYAi1jE_dJT6z6KdltBH42gyM=" autocomplete="off">
                    <input type="hidden" name="action" value="formie/submissions/submit">
                    <input type="hidden" name="submitAction" value="submit">
                    <input type="hidden" name="handle" value="canWeTakeALook">
                    <input type="hidden" name="siteId" value="1">
                    <div class="fui-form-container">
                        <h2 class="fui-title">Can We Take A Look?</h2>
                        <div id="fui-canWeTakeALook-xvgqrx-p-251" class="fui-page" data-index="0" data-id="251" data-fui-page="">
                            <div class="fui-page-container">
                                <div class="fui-row fui-page-row" data-fui-field-count="1">
                                <div class="fui-field fui-type-single-line-text fui-label-above-input fui-subfield-label-above-input fui-instructions-above-input fui-page-field" data-field-handle="url1" data-field-type="single-line-text">
                                    <div class="fui-field-container">
                                        <label class="fui-label" for="fui-canWeTakeALook-xvgqrx-fields-url1">URL</label>
                                        <div id="fui-canWeTakeALook-xvgqrx-fields-url1-instructions" class="fui-instructions">
                                            <p>Please specify the URL that you are inquiring about</p>
                                        </div>
                                    <div class="fui-input-container">
                                        <input type="text" id="fui-canWeTakeALook-xvgqrx-fields-url1" class="fui-input" name="fields[url1]" value="" placeholder="https://thebrand.com" data-fui-id="canWeTakeALook-url1" aria-describedby="fui-canWeTakeALook-xvgqrx-fields-url1-instructions">
                                    </div></div></div></div>
                                    <div class="fui-row fui-page-row" data-fui-field-count="1">
                                        <div class="fui-field fui-type-email fui-label-above-input fui-subfield-label-above-input fui-instructions-above-input fui-field-required fui-page-field" data-field-handle="emailAddress" data-field-type="email">
                                            <div class="fui-field-container">
                                                <label class="fui-label" for="fui-canWeTakeALook-xvgqrx-fields-emailAddress">Email Address&nbsp;<span class="fui-required" aria-hidden="true">*</span></label>
                                            <div id="fui-canWeTakeALook-xvgqrx-fields-emailAddress-instructions" class="fui-instructions">
                                                <p>Please enter your email so we can get in touch.</p>
                                            </div>
                                            <div class="fui-input-container">
                                                    <input type="email" id="fui-canWeTakeALook-xvgqrx-fields-emailAddress" class="fui-input" name="fields[emailAddress]" value="" placeholder="e.g. marketingguru@mybrand.com" autocomplete="email" required="" data-fui-id="canWeTakeALook-emailAddress" aria-describedby="fui-canWeTakeALook-xvgqrx-fields-emailAddress-instructions">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                            <div class="fui-row fui-page-row fui-row-empty" data-fui-field-count="0">
                                                <div class="fui-field fui-type-hidden fui-label-hidden fui-subfield-label-hidden fui-instructions-above-input fui-hidden fui-page-field" data-field-handle="page" data-field-type="hidden"><div class="fui-field-container"><div class="fui-input-container"><input type="hidden" id="fui-canWeTakeALook-xvgqrx-fields-page" name="fields[page]" value="{field.url1}" data-fui-id="canWeTakeALook-page"></div></div></div></div></div>
                                            <div class="formie-recaptcha-placeholder" data-recaptcha-placeholder="">
                                            <div>
                                                <div class="grecaptcha-badge" data-style="bottomright" style="width: 256px; height: 60px; display: block; transition: right 0.3s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;"><div class="grecaptcha-logo"><iframe title="reCAPTCHA" width="256" height="60" role="presentation" name="a-ehd37o816q00" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.recaptcha.net/recaptcha/api2/anchor?ar=1&amp;k=6Leg2qohAAAAAKztoSbxYazKW2-rjeiIBi_PK9rG&amp;co=aHR0cHM6Ly93d3cuYXF1YXJpYW53ZWJkZXNpZ24uY29tOjQ0Mw..&amp;hl=en&amp;v=Jv8jlA-BQE5JD6rA-h_iqNH2&amp;size=invisible&amp;badge=bottomright&amp;anchor-ms=20000&amp;execute-ms=15000&amp;cb=5kyihcixxkrd"></iframe></div>
                                    <div class="grecaptcha-error"></div>
                                    <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="fui-btn-wrapper fui-btn-left">
                                <button type="submit" class="fui-btn fui-submit" data-submit-action="submit">Absolutely -&gt;</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
                            <!-- HERO img Container --> 
        <figure class="bg-gray-100 mr-auto ml-auto xl:mx-0 pt-2 max-w-4xl my-2 xl:w-1/2 px-4">
            <img src="https://www.aquarianwebdesign.com/assets/images/jumbo/_686xAUTO_crop_center-center_none/craft-verified-partner-service-img.png" srcset="
                            https://www.aquarianwebdesign.com/assets/images/jumbo/_1330xAUTO_crop_center-center_90_none/craft-verified-partner-service-img.png 1330w,
                https://www.aquarianwebdesign.com/assets/images/jumbo/_2058xAUTO_crop_center-center_none/craft-verified-partner-service-img.png 2058w" alt="Woman sitting beside computer showcasing work">
            <figcaption>
                <p>Craft CMS powers and enables incredible website experiences.</p>
            </figcaption>          
        </figure>
    </div>
</div>
